body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contact-us {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.contact-us .parent {
    padding: 20px;
    width: 400px;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #979797;
    position: relative;
}
.contact-us .parent h1 {
    text-align: center;
    font-size: 30px;
    color: #606060;
    font-family: fantasy;
    letter-spacing: 1px;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.contact-us .parent h1:hover {
    color: black;
}
.contact-us .parent input[type="password"] {
}
.contact-us .parent input {
    width: 100%;
    margin-top: 30px;
    height: 40px;
    border-radius: 15px;
    border: 1px solid #777;
    padding: 21px;
    box-sizing: border-box;
    font-size: 20px;
    color: #444;
}
.contact-us .parent .email ,
.contact-us .parent .password {
    position: relative;
}
.contact-us .parent .email::before ,
.contact-us .parent .password::before {
    content: attr(attr-title-input);
    position: absolute;
    left: 20px;
    color: #444;
    top: -36px;
    font-size: 18px;
    background-color: white;
    padding: 4px;
    font-weight: 400;
    text-transform: capitalize;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.contact-us .parent input:focus {
    outline: none;
}
.contact-us .parent input:focus + div::before {
    animation-name: up-or-down;
    animation-duration: .3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    color: red;
}
.contact-us .parent p {
    color: #858585;
    padding: 10px;
    font-size: 19px;
    text-transform: capitalize;
}
.contact-us .parent p a {
    color: red;
    text-decoration: none;
    font-size: 18px;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -ms-transition: .1s;
    -o-transition: .1s;
}
.contact-us .parent p a:hover {
    text-decoration: underline;
    color: blue;
}
.contact-us .parent button {
    padding: 10px 20px;
    color: white;
    background-color: black;
    border-radius: 4px;
    font-size: 15px;
    width: 100px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    cursor: pointer;
    border: 1px solid black;
}
.contact-us .parent button:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}
.contact-us .parent .buttons {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
@keyframes up-or-down {
    from {
        left: 20px;
        top: -36px;
    }
    to {
        left: 20px;
        top: -60px;
    }
}
@media only screen and (max-width: 767px) {
    .contact-us .parent p {
        font-size: 15px;
    }
}