/* Start Box Settings */
.d-flex {
    display: flex;
}
.jusyify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.d-grid {
    display: grid;
}
.grid-column-12 {
    grid-template-columns: repeat(12,100px);
}
/* End Box Settings */

/* Start Fonts */
.bg-black {
    background-color: rgb(0, 0, 0);
}
.c-white {
    color: white;
}
.text-center {
    text-align: center;
}
.fs-14 {
    font-size: 14px;
}
.p-20 {
    padding: 20px;
}
/* End Fonts */